body
{
	background-color: #eee;
	color: #303030;
	font-family: Verdana, sans-serif;
	font-size: 62.5%;
	margin: 0px;
	text-align: center;
}

h1, h2, h3
{
	color: #000;
	font-weight: normal;
	text-align: center;
}

h1
{
	font-size: 4em;
	line-height: 1.2em;
	margin-bottom: 0px;
	margin-top: 1em;
}

h2
{
	font-size: 1.4em;
	font-style: italic;
	margin-top: 1em;
}

h3
{
	font-size: 1.3em;
	margin-bottom: 5em;
	margin-top: 0.8em;
}

.passage
{
	background-color: #eee;
	font-size: 1.3em;
	line-height: 175%;
	margin-bottom: 2em;
}

ul li
{
	list-style-type: square;
}

.toolbar a
{
	color: #999;
	text-decoration: none;
}

.toolbar a:hover
{
	text-decoration: underline;
	color: #8ea6ff;
}

a.internalLink, a.externalLink
{
	color: #4d6ad8;
	font-weight: bold;
	text-decoration: none;
}

a.internalLink:hover, a.externalLink:hover
{
	text-decoration: underline;
	color: #8ea6ff;
}

a.brokenLink
{
	background-color: red;
	color: black;
}

.title
{
	color: #000;
	font: bold 1.4em Verdana, sans-serif;
	line-height: 200%;
}

#footer
{
	font-size: 1.1em;
	font-style: italic;
	margin-top: 5em;
	text-align: center;
}

#footer a.externalLink
{
	border-bottom: 1px solid #464646;
	color: #464646;
	font-weight: normal;
}

.marked
{
	background-color: pink;
	margin-right: 12px;
}

.disabled
{
	color: #aaaaaa;
	font-style: italic;	
}

#floater
{
	_position: absolute;	/* IE 6 only */
	_width: 100px;				/* IE 6 only */
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-bottom: 2px solid #aaa;
	font-size: 1.1em;
	padding: 0px 20px;
	position: fixed;
	right: 0px;
	text-align: center;
	top: 0px;
	line-height: 100%;
}

#floater a:link, #floater a:visited
{
	color: #999;
	font-weight: bold;
	text-decoration: none;
}

#floater a:hover
{
	color: #8ea6ff;
	text-decoration: underline;
}

#content1
{
	margin: 0px 20em 1em 20em;
	text-align: left;
}

.toolbar
{
	padding: 0px;
	visibility: hidden;
	font-size: 0.5em;
}

.toolbar a
{
	margin-left: 12px;	
}

.selected .toolbar
{
	visibility: visible;
}

.passage ul
{
	margin-left: 0.5em;
	padding-left: 1.5em;
}

.passage ol
{
	margin-left: 0.5em;
	padding-left: 1.5em;
}

.passage table
{
	border-collapse: collapse;
	font-size: 100%;
	margin: 0.8em 1.0em;
}

.passage th, .passage td, .passage tr, .passage caption
{
	padding: 3px;
}

.passage hr
{
	height: 1px;
}

#saveTest, .footer
{
	display: none;
}

#messageArea
{
	background-color: pink;
	display: none;
	font-weight: bold;
	text-align: center;
}

#storeArea, #copyright
{
	display: none;
}